body,html,ul{
    padding: 0;
    margin: 0;
    
}

a:visited{
    color: black;
}

#navigation-bar-mainmenu{
    text-align:center;
}

#navigation-bar-mainmenu ul a li{
    font-family:'黑体';
    font-size: 17px;
    width:150px;
    float:left;
    list-style-type:none;
    border-right:1px solid #FFF;
}

#navigation-bar-mainmenu ul a #li-first{
    border-left: 1px solid #FFF;
}
#container-first{
    width: 100%;
    height: 35px;
    background-image: linear-gradient(rgb(182, 182, 182),rgb(117, 204, 204));
    display: flex;
    justify-content: space-around;
}

.container-header{
    display: inline-block;
    vertical-align: middle;
    line-height:35px;
}
